<h1>Wireless USB HTTP Server</h1>

<!--
<div ng-show="currFilePath === ''">
  <input type="submit" class="btn btn-default" ng-click="getFileListing('')" value="Get File Listing">
</div>
-->

<div>
  Current Folder: <a href="" ng-repeat="path in currFilePath.split('/')" ng-click="getFileListing(getNavFilePath($index,path))">/{{getPathName(path)}}</a>
  <br/>
  Search: <input ng-model="query" type="text">

  <table class="table">
    <tr>
      <th></th>
      <th><a href="" ng-click="category='filename';reverse=!reverse">Filename</a></th>
      <th><a href="" ng-click="category='size';reverse=!reverse">Size</a></th>
      <th></th>
    </tr>
    <tr ng-repeat="f in files | filter:query | orderBy:category:reverse">
      <td ng-show="f.isDirectory"><img src="images/folder.png"></td>
      <td ng-show="f.isDirectory"><a href="" ng-click="processFile(f)">{{f.filename}}</a></td>
      <td ng-hide="f.isDirectory"><img src="images/file.png"></td>
      <td ng-hide="f.isDirectory">{{f.filename}}</td>
      <td>{{f.size}}</td>
      <td>
        <a href="" ng-show="isAudioFile(f)" ng-click="processFile(f)">Play File</a>
        <a href="" ng-show="isVideoFile(f)" ng-click="processFile(f)">Play File</a>
      </td>
    </tr>
  </table>
</div>